<% page_titling "What's in it for children" %>
<ul>
  <li>Learn an important skill by playing</li>
  <li>Have fun while practicing your skills</li>
  <li>Create the computer game you always wanted to</li>
</ul>
