<% page_titling "What's in it for parents" %>
<ul>
  <li>Teach your kid important skills</li>
  <li>Prepare your children for a future career in IT</li>
  <li>Have your children enjoy their time in a productive way</li>
</ul>
